* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

a {
    text-decoration: none !important;
}

.menu-wrapper {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    z-index: 10;
    background-color: #DF4D4A;
    color: #F3EAD8;
}

.back-to-selections, .back-to-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 29px;
    font-size: 25px;
    cursor: pointer;
}

.burger {
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #F3EAD8;
    margin: 5px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.3s;
}

.toggle .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}

.logo-wrapper {
    display: flex;
    align-items: flex-end;
    padding-left: 55px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    font-size: 25px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Times', sans-serif;
}

.logo+div {
    padding: 4px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.empty {
    width: 35px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Avenir-light", "AvenirLTStd-Light";
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    background-color: #fdd302;
    color: black;
    /* border: 1px solid #F3EAD8; */
}