.search-wrapper {
    padding: 5px;
    background-color: #92C3B6;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #EEEEEE;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #FFFFFF;
}

.search {
    margin: 0px !important;
    padding: 0 !important;
    height: 28px !important;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
    color: #CCCCCC;
    font-size: 20px;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.3s all ease;
}

.clear-btn:hover {
    color: black;
}

.md-label, .preview-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #F3EAD8;
    background-color: #92C3B6;
    letter-spacing: 4px;
    font-size: 14px;
}

.content {
    display: flex;
    position: relative;
}

.selections-wrapper {
    display: flex;
    flex-direction: column;
    width: 26%;
}

.selections {
    background-color: #F3EAD8;
    overflow: scroll;
    height: 85vh;
    width: 100%;
    transition: 300ms all ease;
}

.selection {
    display: flex;
    height: 120px;
    width: 100%;
    cursor: pointer;
    border-left: 5px solid transparent;
    border-bottom: 1px solid #92C3B6;
    font-family: "Avenir-light", "AvenirLTStd-Light";
    color: #222222;
}

.selection-content {
    display: flex;
    width: 100%;
    padding-right: 5px;
    border-bottom: 5px solid #F3EAD8;
}

.selection.active {
    border-left: 5px solid #DF4D4A;
    background-color: #FBFBFB;
}

.selection-content.active {
    border-bottom: 5px solid #FBFBFB;
}

::-webkit-scrollbar {
    display: none;
}

.editor-wrapper {
    width: 37%;
    position: relative;
    /* top: 0;
    left: 0; */
    transition: 300ms all ease;
}

.editor, .editor:focus, .editor:read-only {
    outline: none;
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    height: 85vh;
    overflow-y: scroll;
    background-color: #FBFBFB;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    font-family: "Avenir-light", "AvenirLTStd-Light";
    color: #222222;
}

.btn-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
}

.pin-btn, .share-btn, .trash-btn, .edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BBBBBB;
    width: 23px;
    height: 23px;
    font-size: 23px;
    margin: 8px;
    cursor: pointer;
    transition: 200ms all ease;
}

.edit-btn {
    position: absolute;
    display: none;
    top: 40px;
    right: 0;
}

.pin-btn:hover, .pin-btn.active {
    color: #DF4D4A;
}

.share-btn:hover, .trash-btn:hover, .edit-btn:hover {
    color: #222222;
}

.preview-wrapper {
    position: relative;
    /* top: 0;
    left: 0; */
    width: 37%;
    height: 85vh;
    transition: 300ms all ease;
}

.preview {
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FBFBFB;
    font-family: "Avenir-light", "AvenirLTStd-Light";
    color: #222222;
}

.new-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fdcf41;
    color: #222222;
    border-radius: 25px;
    font-size: 30px;
    cursor: pointer;
    z-index: 40;
}

.selection-left {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 100%;
}

.selection-left>div {
    height: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-right {
    width: 100%;
    padding-left: 15px;
    overflow: hidden;
}

.updated-at {
    font-size: 15px;
    color: #51081d;
}

.pin {
    font-size: 23px;
    color: #DF4D4A;
}

.nav-links {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    /* background-color: #2E3235; */
    background-color: #DF4D4A;
    color: #F3EAD8;
    z-index: 30;
    margin-left: 0;
    margin-bottom: 0;
    transform: translateX(-100%);
    transition: 200ms all ease;
    width: fit-content;
}

.nav-links li {
    list-style: none;
    padding: 20px 45px;
    cursor: pointer;
}

.nav-links.toggle {
    transform: translateX(0);
}

.logout {
    border-top: 1px solid #CFCFCF;
}

@media screen and (max-width: 800px) {
    .selections-wrapper {
        width: 100%;
    }
    .preview-wrapper {
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
        /* transform: translateX(100%); */
    }
    .preview {
        padding: 10px 30px;
    }
    .editor-wrapper {
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
        /* transform: translateX(100%); */
        z-index: 20;
    }
    .edit-btn {
        display: flex;
    }
}

.confirmation-body {
    display: flex;
    align-items: center;
}

.warning-icon {
    font-size: 40px;
    color: #DF4D4A;
    margin-right: 20px;
}