body {
    font-family: 'Varela Round', sans-serif;
}

header {
    min-height: 42rem;
    position: relative;
    background-image: url(../img/bg-masthead.jpg);
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

nav>a {
    text-decoration: none;
    outline: none;
    padding: 5px 10px;
    color: #444444;
    transition: 0.2s all ease;
    font-size: 18px;
}

nav>a:hover {
    color: black;
    text-decoration: underline !important;
}

.header-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h1 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

.header-content p {
    font-size: 20px;
    font-style: italic;
}

#descr-section {
    position: relative;
    min-height: 25rem;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descr-content {
    text-align: center;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.descr-content h3 {
    font-family: 'Raleway', sans-serif;
}

.descr-content p {
    font-size: 20px;
    font-weight: lighter;
}

#feature-section {
    position: relative;
    min-height: 30rem;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #92C3B6;
}

.features-content {
    text-align: center;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-content h3 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

.features {
    display: flex;
}

.feature {
    width: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.feature h6 {
    margin-top: 10px;
}

#getstart-section {
    min-height: 42rem;
    position: relative;
    background-image: url(../img/bg-callout.jpg);
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.getstart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.getstart-content h1 {
    font-family: 'Raleway', sans-serif;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    background-color: #fff;
    color: #92C3B6;
}

.free-icon {
    position: relative;
    width: 50px;
}

.slash-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    font-size: 23px;
    bottom: 12px;
    right: 0;
    padding: 2px;
    border-radius: 13px;
    background-color: white;
}

.learn-more, .offer, .get-start {
    background-color: #DF4D4A;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #F3EAD8;
    border-radius: 4px;
    transition: 0.3s all ease;
    width: fit-content;
    cursor: pointer;
}

.learn-more:hover, .offer:hover, .get-start:hover {
    background-color: black;
    color: #FFFFFF;
}

.red-text {
    color: #DF4D4A;
    font-size: 18px;
    font-weight: bold;
}

.feature h6 {
    color: #DF4D4A;
}

.feature p {
    color: #222222;
    /* font-weight: lighter; */
    font-family: 'Raleway', sans-serif;
}

.modal-login, .modal-signup {
    width: 350px;
}

.modal-login, .modal-signup, .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-login, .modal-signup, .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login .close, .modal-signup .close {
    position: absolute;
    top: -10px;
    right: -10px;
}

.modal-login h4, .modal-signup h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
}

.modal-login .modal-content, .modal-signup .modal-content {
    color: #999;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.modal-login .form-group, .modal-signup .form-group {
    margin-bottom: 20px;
}

.modal-login label, .modal-signup label {
    font-weight: normal;
    font-size: 13px;
}

.modal-login .form-control, .modal-signup .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.modal-login .form-control:focus, .modal-signup .form-control:focus {
    border-color: #ccc;
}

.modal-login .input-group-addon, .modal-signup .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-bottom: 1px solid #ced4da;
    padding-right: 5px;
    border-radius: 0;
}

.modal-login .btn, .modal-login .btn:active, .modal-signup .btn, .modal-signup .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d !important;
    border-radius: 3px;
    border: none;
    min-width: 140px;
}

.modal-login .btn:hover, .modal-login .btn:focus, .modal-signup .btn:hover, .modal-signup .btn:focus {
    background: #179b81 !important;
}

.modal-login .hint-text, .modal-signup .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}

.modal-login .modal-footer, .modal-signup .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
}

.modal-login a, .modal-signup a {
    color: #fff;
    text-decoration: underline;
}

.modal-login a:hover, .modal-signup a:hover {
    text-decoration: none;
}

.modal-login a, .modal-signup a {
    color: #19aa8d;
    text-decoration: none;
}

.modal-login a:hover, .modal-signup a:hover {
    text-decoration: underline;
}

.modal-login .fa, .modal-signup .fa {
    font-size: 21px;
    position: relative;
    top: 6px;
}

.trigger-btn {
    display: inline-block;
    /* margin: 100px auto; */
}

.modal-footer {
    padding-left: 38px;
    padding-right: 38px;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 140px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .25);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.google-btn:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .25);
}

.google-icon {
    background-color: white;
    padding: 5px;
    border-radius: 1px;
}

.google-text {
    margin-left: 0;
    padding: 0;
    font-size: 16px;
    color: #222222;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none !important;
}

.google-icon>img {
    width: 30px;
}

@media screen and (max-width: 700px) {
    .features {
        flex-wrap: wrap;
    }
    .feature {
        width: 50%;
    }
    #feature-section {
        min-height: 40rem;
    }
}

@media screen and (max-width: 500px) {
    .feature {
        width: 100%;
        margin-bottom: 20px;
    }
    #feature-section {
        min-height: 70rem;
    }
}